body{
    font-family: Arial, Helvetica, sans-serif;
    color: blueviolet;
}
/* Estilo base para todos los botones */
button, input[type="submit"] {
    padding: 10px 20px; /* Ajusta el relleno según sea necesario */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: blueviolet;
    color: white;
    font-size: 16px;
}

/* Estilo cuando el cursor está sobre el botón */
button:hover, input[type="submit"]:hover {
    background-color: darkviolet;
}

/* Estilo cuando el botón está presionado */
button:active, input[type="submit"]:active {
    background-color: purple;
}